In [1]:
import findspark

In [2]:
findspark.init('/usr/local/spark')

In [3]:
from pyspark.sql import SparkSession

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [4]:
spark = SparkSession.builder.appName("Pyspark Assessment").getOrCreate()

In [8]:
df = spark.read.csv("credit card.csv",inferSchema=True,header=True)

In [9]:
df.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [10]:
#Done
df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

# Just Checking if select is working well

In [15]:
df.select(['CustomerId','Age','Gender','Tenure']).show(10)

+----------+---+------+------+
|CustomerId|Age|Gender|Tenure|
+----------+---+------+------+
|  15634602| 42|Female|     2|
|  15647311| 41|Female|     1|
|  15619304| 42|Female|     8|
|  15701354| 39|Female|     1|
|  15737888| 43|Female|     2|
|  15574012| 44|  Male|     8|
|  15592531| 50|  Male|     7|
|  15656148| 29|Female|     4|
|  15792365| 44|  Male|     4|
|  15592389| 27|  Male|     2|
+----------+---+------+------+
only showing top 10 rows

# Dropping The Row Number which is not necessary

In [12]:
df1 = df.drop('RowNumber')

# Displaying First Ten Rows

In [11]:
df.show(10)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|  Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

In [13]:
df1.show(10)

+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|  15656148|  Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

# Creating a Temporary View for Performing Pyspark SQL Operations

In [36]:
df1.createOrReplaceTempView('credit_card_info')

# Question 1

In [41]:
#Using Pyspark SQL and Assuming Credit Score Threshold to be 650
query_Q1 = "SELECT COUNT(*) AS eligible_count FROM credit_card_info WHERE CreditScore > 650"
result_Q1 = spark.sql(query_Q1)
result_Q1.show()

+--------------+
|eligible_count|
+--------------+
|          5063|
+--------------+

In [42]:
result_Q1.show(10)

+--------------+
|eligible_count|
+--------------+
|          5063|
+--------------+

In [25]:
#Using Pyspark Dataframe Functions
credit_score_threshold = 650
# Calculate the number of members eligible for credit card
eligible_count = df1.filter(col("CreditScore") > credit_score_threshold).count()
print("Number of members eligible for credit card:", eligible_count)

Number of members eligible for credit card: 5063

# Question 2

In [44]:
# Assuming 1 indicates an active member and Using Pyspark SQL
query_Q2 = "SELECT COUNT(*) AS eligible_count FROM credit_card_info WHERE CreditScore > 650 AND IsActiveMember = 1"
result_Q2 = spark.sql(query_Q2)
result_Q2.show()

+--------------+
|eligible_count|
+--------------+
|          2655|
+--------------+

In [45]:
result_Q2.show(10)

+--------------+
|eligible_count|
+--------------+
|          2655|
+--------------+

In [27]:
#Using Pysaprk Dataframe Functions
df.select(['IsActiveMember']).show(10)

+--------------+
|IsActiveMember|
+--------------+
|             1|
|             1|
|             0|
|             0|
|             1|
|             0|
|             1|
|             0|
|             1|
|             1|
+--------------+
only showing top 10 rows

In [28]:
# Assuming 1 indicates an active member,calculating the number of eligible and active members
eligible_active_count = df.filter((col("CreditScore") > credit_score_threshold) & (col("IsActiveMember") == 1)).count()
print("Number of members eligible and active:", eligible_active_count)

Number of members eligible and active: 2655

# Question 3

In [53]:
#Using Pyspark SQL
query_Q3 = "SELECT *  FROM credit_card_info WHERE Geography == 'Spain'"
result_Q3 = spark.sql(query_Q3)
result_Q3.show(10)

+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|
|  15597945| Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|             0|      138555.46|     0|
|  15699309|Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|  15589475|  Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

In [54]:
result_Q3.show()

+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|
|  15597945| Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|             0|      138555.46|     0|
|  15699309|Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|  15589475|  Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
|  15659428|  Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|             1|       34410.55|     0|
|  15732963| Clements|        722|    Spain|Female| 29|     9|      0.0|            2|             1|      142033.07|     0|
|  15788448|   Watson|        490|    Spain|  Male| 31|     3|145260.23|            1|             1|      114066.77|     0|
|  15729599|  Lorenzo|        804|    Spain|  Male| 33|     7|  76548.6|            1|             1|       98453.45|     0|
|  15619360|    Hsiao|        472|    Spain|  Male| 40|     4|      0.0|            1|             0|       70154.22|     0|
|  15684171|  Bianchi|        660|    Spain|Female| 61|     5|155931.11|            1|             1|      158338.39|     0|
|  15623944|    T'ien|        511|    Spain|Female| 66|     4|      0.0|            1|             0|        1643.11|     1|
|  15702014|  Jeffrey|        555|    Spain|  Male| 33|     1| 56084.69|            2|             0|      178798.13|     0|
|  15751208|  Pirozzi|        684|    Spain|  Male| 56|     8| 78707.16|            1|             1|       99398.36|     0|
|  15812518|  Palermo|        657|    Spain|Female| 37|     0|163607.18|            1|             1|       44203.55|     0|
+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [55]:
#Showing only the Names of the users
query_Q3_1 = "SELECT Surname  FROM credit_card_info WHERE Geography == 'Spain'"
result_Q3_1 = spark.sql(query_Q3_1)
result_Q3_1.show(10)

+---------+
|  Surname|
+---------+
|     Hill|
| Mitchell|
|      Chu|
|  Andrews|
|    Scott|
|Henderson|
|  Muldrow|
| Dellucci|
|Gerasimov|
|  Azikiwe|
+---------+
only showing top 10 rows

In [31]:
#Using Pyspark Dataframe Functions
credit_card_users_spain = df.filter(col("Geography") == "Spain")
credit_card_users_spain.show(10)

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|
|       22|  15597945| Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|             0|      138555.46|     0|
|       23|  15699309|Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|       31|  15589475|  Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

In [32]:
#Showing only the Names of the users in spain
credit_card_users_spain.select("Surname").show(10)

+---------+
|  Surname|
+---------+
|     Hill|
| Mitchell|
|      Chu|
|  Andrews|
|    Scott|
|Henderson|
|  Muldrow|
| Dellucci|
|Gerasimov|
|  Azikiwe|
+---------+
only showing top 10 rows

# Question 4

In [59]:
#Converting the Pyspark SQL Results to csv
result_Q3.write.csv("Q3_FullData.csv", header=True, mode="overwrite")
result_Q3_1.write.csv("Q3_OnlySurName.csv", header=True, mode="overwrite")

In [60]:
#Converting the Pyspark Dataframe Function Result to csv
credit_card_users_spain.write.csv("Q3_Pyspark_Dataframe_Functions_Result.csv", header=True, mode="overwrite")

# END